
<div class="row p-3 my-3">

  <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;margin-bottom: 20px; ">
    <!-- Navbar content -->
    Add airline
    <a class="btn btn-primary align-items-right" id="sidebarToggle"  [routerLink]="['/dashboard']">Back</a>

  </nav>
  <div class="card">
    <div class="card-body">
<form class="form-airline" [formGroup]="AddAirlineForm" (ngSubmit)="addAirline()">
    <div class="col-md-6 my-3">
      <label for="inputName4" class="form-label"  >AirlineName</label>
      <input type="text" class="form-control" id="inputName4" formControlName="Name">
    </div>
    <div class="col-md-6 my-3">
      <label for="inputPhone4" class="form-label"  >Phone</label>
      <input type="text" class="form-control" id="inputPhone4" formControlName="Phone">
    </div>
    <div class="col-12 my-3">
      <label for="inputAddress" class="form-label" >Address</label>
      <input type="text" class="form-control" id="inputAddress" formControlName="Adress"  placeholder="1234 Main St">
    </div>
    
    <div class="col-md-6 my-3">
      <label for="inputlogo" class="form-label"  >Logo</label>
      <input type="text" class="form-control" id="inputlogo" formControlName="logo">
    </div>
    <div class="col-md-4 my-3">
      <label for="inputState" class="form-label" >Active</label>
      <select id="inputState" class="form-select"  formControlName="Active">
        <option selected>Choose...</option>
        <option value=1>Active</option>
        <option value =0>Inactive</option>
      </select>
    </div>
    
    
    <div class="my-3">
      <button type="submit" class="btn btn-primary">Add Airline</button>
    </div>
  </form>

  </div>
  </div>
  </div>