<div class="row p-3 my-3">

    <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;margin-bottom: 20px; ">
      <!-- Navbar content -->
      Manage Schedule
    </nav>
  
      
      <table class="table bg-white" style="width:1024px ;">
          <thead class="bg-light">
            <tr>
              
              <th>AirlineId</th>
              <th>FlightNumber</th>
              <th>From</th>
              <th>To</th>
              <th>StartDate</th>
              <th>EndDate</th>
              <th>ScheduledDays</th>
              <th>BusinessSeats</th>
              <th>TotalSeats</th>
              <th>TotalRows</th>
              <th>InstrumentsUsed</th>
              <th>MealsType</th>
              <th>TicketCost</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let schedule of schedules">
              
              <td>
                <p class="fw-normal mb-1">{{schedule.airlineId}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.flightNumber}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.fromPlace}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.toPlace}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.startDate}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.endDate}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.scheduledDays}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.bussinesSeats}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.totalSeats}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.totalRows}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.instrumentsUsed}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.mealsType}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.ticketCost}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{schedule.isActive}}</p>
                
              </td>

              
            </tr>
         
             <!-- <td>
                <span class="badge badge-success rounded-pill d-inline">Active</span>
              </td>
              <td>Senior</td>
              <td>
                <button type="button" class="btn btn-link btn-sm btn-rounded">
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  
                  <div class="ms-3">
                    <p class="fw-bold mb-1">Alex Ray</p>
                    <p class="text-muted mb-0">alex.ray@gmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Consultant</p>
                <p class="text-muted mb-0">Finance</p>
              </td>
              <td>
                <span class="badge badge-primary rounded-pill d-inline"
                      >Onboarding</span
                  >
              </td>
              <td>Junior</td>
              <td>
                <button
                        type="button"
                        class="btn btn-link btn-rounded btn-sm fw-bold"
                        data-mdb-ripple-color="dark"
                        >
                  Edit
                </button>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  
                  <div class="ms-3">
                    <p class="fw-bold mb-1">Kate Hunington</p>
                    <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                  </div>
                </div>
              </td>
              <td>
                <p class="fw-normal mb-1">Designer</p>
                <p class="text-muted mb-0">UI/UX</p>
              </td>
              <td>
                <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
              </td>
              <td>Senior</td>
              <td>
                <button
                        type="button"
                        class="btn btn-link btn-rounded btn-sm fw-bold"
                        data-mdb-ripple-color="dark"
                        >
                  Edit
                </button>
              </td>
            </tr>
          -->
          </tbody>
        </table>
      
  </div>
