<section class="dashboard section bg-gray">

            <div class="content">
                <div class="container">
                     <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                                    <div class="box">
                                        <h3 class="box-title">Your Selected Flight Details </h3>
                                        <div class="plan-selection" *ngIf="(selectedItems?.depature | keyvalue)?.length" >
                                            <div class="plan-data">
                                                <input id="question1" name="question" type="radio" class="with-font" value="sel" />
                                                <label for="question1"> {{selectedItems.depature?.fromPlace}} to {{selectedItems.depature?.toPlace}}</label>
                                                <p class="plan-text">
                                                   
                                                    {{selectedItems.depature?.flightNumber}}   | Start:{{selectedItems.depature?.startDate}} | End :  {{selectedItems.depature?.endDate}}
                                                </p>
                                                <span class="plan-price">₹{{selectedItems.depature?.ticketCost}}/ 1P</span>
                                            </div>
                                        </div>
                                        <div class="plan-selection"  *ngIf="(selectedItems?.returns | keyvalue)?.length">
                                            <div class="plan-data">
                                                <input id="question2" name="question" type="radio" class="with-font" value="sel" />
                                                <label for="question2">{{selectedItems.returns?.fromPlace}} to {{selectedItems.returns?.toPlace}}</label>
                                                <p class="plan-text">
                                                     {{selectedItems.returns?.flightNumber}}   | Start:{{selectedItems.returns?.startDate}} | End :  {{selectedItems.returns?.endDate}} </p>
                                                <span class="plan-price">₹{{selectedItems.returns?.ticketCost}}/ 1P</span>
                                            </div>
                                        </div>

                          
                                   </div>

                   
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                  
                                    <div class="widget">
                                        <h4 class="widget-title">Order Summary</h4>
                                        <div class="summary-block" *ngIf="(selectedItems?.depature | keyvalue)?.length">
                                            <div class="summary-content">
                                                <div class="summary-head"><h5 class="summary-title">Departure Cost</h5></div>
                                                <div class="summary-price">
                                                    <p class="summary-text">₹{{selectedItems.depature?.ticketCost}}</p>
                                                    <span class="summary-small-text pull-right">1 Person</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary-block" *ngIf="(selectedItems?.returns | keyvalue)?.length">
                                            <div class="summary-content">
                                               <div class="summary-head"> <h5 class="summary-title">Return Cost</h5></div>
                                                <div class="summary-price">
                                                    <p class="summary-text"> ₹{{selectedItems.returns?.ticketCost}} </p>
                                                    <span class="summary-small-text pull-right">1 Person</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="summary-block">
                                            <div class="summary-content">
                                               <div class="summary-head"> <h5 class="summary-title">Total</h5></div>
                                                <div class="summary-price">
                                                    <p class="summary-text">₹{{selectedItems?.totolCost}}</p>
                                                    <span class="summary-small-text pull-right">1 Person</span>
                                                </div>
                                            </div>

                                            <button class="btn btn-primary btn-lg mb30" (click)="initateBooking()">Confirm Booking</button>

                                        </div>
                                    </div>

                                </div>

                            </div>
                

		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
  <!-- Container Start -->
  <div class="container">
      <div class="col-lg-12 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
        <!-- About -->
        <div class="block about">
          <!-- footer logo -->
          <!-- description -->
          <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

  </div>
  <!-- Container End -->
</footer>