<div class="row p-3 my-3">

    <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;margin-bottom: 20px; ">
      <!-- Navbar content -->
      Manage Airline
  
      <a class="btn btn-primary align-items-right"  [routerLink]="['/dashboard']">Back</a>
  
    </nav>

    <div class="card my-3 clearfix">
 
        <div class="card-body">
            <div class="row">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              
          </div>
                
        <div class="row">
            <div class="col-md-10">
            </div>
            <div class="col-md-2 text-center">
                <button class="btn btn-primary" [routerLink]="['/schedule/add/20']">Add Schedule</button>
            </div>
            </div>

        </div>
        
   </div>

      <div class="card">
        <div class="card-body">

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Clark</td>
                        <td>Kent</td>
                        <td>clarkkent@mail.com</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Peter</td>
                        <td>Parker</td>
                        <td>peterparker@mail.com</td>
                    </tr> 
                    <tr>
                        <td>3</td>
                        <td>John</td>
                        <td>Carter</td>
                        <td>johncarter@mail.com</td>
                    </tr>                   
                </tbody>
            </table>

            </div>
      </div>

    </div>