<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<nav class="navbar navbar-expand-lg navbar-light navigation">
                    <div class="col-md-3">

					<a class="navbar-brand" href="index.html">
						<img src="/assets/images/logo.png" alt="">
					</a>
                  </div>
                    
                    <div class="col-md-9 text-end">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<span class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
						<ul class="navbar-nav ml-auto main-nav  ">
							<li class="nav-item active">
								<a class="nav-link" [routerLink]="['/home']">Home</a>
							</li>

							<li class="nav-item active" *ngIf="userLoggedIn">
								<a class="nav-link" [routerLink]="['/myAccounts']" >My Account</a>
							</li>
						</ul>
						<ul class="navbar-nav ml-auto mt-10"  >

							<li class="nav-item"  *ngIf="!userLoggedIn" >
								<button  type="button" class="btn btn-primary btn-sm"   [routerLink]="['/login/1']">Login</button>
							</li>


							<li  class="nav-item" *ngIf="userLoggedIn">
								<button class="btn btn-primary btn-sm" (click)="logoutAction()" >Logout</button>
							</li>
						</ul>
					</span>

                </div>
				</nav>
			</div>
		</div>
	</div>
</header>