.main-nav .nav-item .nav-link {
    font-size: 16px;
    line-height: 43px;
    padding: 0 20px;
  }
  .main-nav .nav-item .nav-link span {
    margin-left: 4px;
  }
  .main-nav .nav-item .nav-link.dropdown-toggle {
    padding-right: 10px;
  }
  .main-nav .nav-item .dropdown-toggle::after {
    border: none;
  }
  .main-nav .nav-item.active .nav-link {
    color: #5672f9;
  }
  .main-nav .search .nav-link i {
    font-size: 15px;
    height: 43px;
    width: 43px;
    line-height: 43px;
    color: #5672f9;
    border: 1px solid #5672f9;
    border-radius: 3px;
    text-align: center;
  }
  .main-nav .search .input-group {
    width: 300px;
  }
  .main-nav .search .input-group .input-group-addon {
    background: #5672f9;
    color: #fff;
    border: 1px solid #5672f9;
  }
  .main-nav .search .input-group .input-group-addon i {
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
  }
  