

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly ">
	<!-- Container Start -->
	<div class="container clearfix">
		<div class="row">
			<div class="col-md-12" style="z-index: 232323232;">
				<!-- Header Contetnt -->
				<div class="content-block">
                    <h1>Book your flight today</h1>
                    <p>Sometimes it's the journey that teaches you a lot about your destination.<br/> You can book the flight right now!</p>					
				</div>
				<!-- Advance Search -->
				<div class="advance-search text-start">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-md-12 align-content-center">
                                <form class="form-coupon" [formGroup]="SearchForm" (ngSubmit)="getSearch()">
                                    <div class="row">
                                      <div class="col-sm">
                                        <div class="mb-2">

                                            <div class="form-checkbox">
                                                <label for="roundtrip">
                                                    <input type="radio" id="roundtrip" formControlName="roundTrip" value="1">
                                                    <span></span>Roundtrip
                                                </label>
                                                <label for="one-way">
                                                    <input type="radio" id="one-way" formControlName="roundTrip" value="0">
                                                    <span></span>One way
                                                </label>
                                            
                                            </div>
                                         
                                            </div>

                                        </div>
                                </div>
                                
                                <div class="row" >
                                    <div class="col-sm">
                                      <div class="mb-2">
                                        <label id="origin-label" for="origin-input" class="form-label"
                                          >Origin</label
                                        >
                                        <div class="input-group text-lg-left">
                                          <span class="input-group-text"
                                            ><i class="bi-pin-map"></i>
                                          </span>
                                          <input
                                            type="text"
                                            class="form-control"
                                            list="origin-options"
                                            id="origin-input"
                                            placeholder="Location"
                                            aria-describedby="origin-label"

                                            formControlName="FromPlace" 
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-sm">
                                      <div class="mb-2">
                                        <label
                                          id="destination-label"
                                          for="destination-input"
                                          class="form-label"
                                          >Destination</label
                                        >
                                        <div class="input-group">
                                          <span class="input-group-text"
                                            ><i class="bi-pin-map-fill"></i>
                                          </span>
                                          <input
                                            type="text"
                                            class="form-control"
                                            list="destination-options"
                                            id="destination-input"
                                            placeholder="Location"
                                            aria-describedby="destination-label"
                                            formControlName="ToPlace" 

                                          />
                                        </div>
                                      </div>
                                    </div>

                                    <div class="col-sm">
                                        <div class="mb-2">
                                            <label
                                            id="departure-date-label"
                                            for="departure-date-input"
                                            class="form-label"
                                            >Departure date</label
                                          >
                                          <div class="input-group">
                                            <span class="input-group-text"
                                              ><i class="bi-calendar"></i>
                                            </span>
                                            <input
                                              type="date"
                                              class="form-control"
                                              id="departure-date-input"
                                              aria-describedby="departure-date-label"
                                              placeholder="Departure date"
                                              formControlName="DepatureDate" 

                                            />
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-sm">
                                        <div class="mb-2">
                                            <label
                                            for="return-date-input"
                                            class="form-label"
                                            >Return date</label
                                          >
                                          <div class="input-group">
                                            <span class="input-group-text"
                                              ><i class="bi-calendar-fill"></i>
                                            </span>
                                            <input
                                              type="date"
                                              class="form-control"
                                              aria-describedby="return-date-label"
                                              placeholder="Return date"
                                              formControlName="returnDate" 


                                            />
                                          </div>


                                        </div>
                                      </div>



                                    
                                  </div>
                              <div class="row my-3">
                                  <div class="mb-2 text-end">
                                        <button  class="btn btn-primary search-button" > Search Flights </button>
                                 </div> 
                               </div>
                                
                                


                            </form>


                         </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Flights for you</h2>
					<p>Select the flight and press Continue button to get journey details.</p>
				</div>
			</div>

   
		</div>
    <div class="row">

      <div class="col-md-12">
				<div class="section-title text-end" [hidden]="!flightSelected">
				 <button type="button" class="btn btn-primary btn-lg" (click)="ShowBookingPage()" >Book Tickets Now</button>
			</div>
		</div>

    </div>


		<div class="row">
			<!-- offer 01 -->
			<div class="col-lg-12">
				<div class="trending-ads-slide">




                    <div class="container"> 
                        <div class="row"> 
                           <div class="col" *ngIf="(search?.depature | keyvalue)?.length" >



                                    <div class="card-body p-4" >
                                      <div class="form-outline mb-4">
                                        <h3> Depature Flights </h3>
                                      </div>


                              
                                      <div class="card mb-2" *ngFor="let airline of search.depature" [ngClass]="{'highlight':checkIfCardIsClicked(airline.scheduleId,'departure')}"
                                      (click)="setcurrentlyClickedCardIndex(airline.scheduleId,'departure')">
                                        <div class="card-body">

                                          <p>   Journey : <b> {{airline.fromPlace}}  to {{airline.toPlace}}</b></p>
                                                 
                                          <p>   Journey Date : <b> {{airline.startDate}} </b></p>
                                    
                                          <p>    Amount : <b> {{airline.ticketCost}} </b></p>


                              
                                          <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                              <img src="/assets/images/logo.png" alt="avatar" width="25"
                                                height="25" />
                                              <p class="small mb-0 ms-2">{{airline.name}} ({{airline.flightNumber}})</p> 

                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                              <p class="small text-muted mb-0">Journey Days</p>
                                              <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                              <p class="small text-muted mb-0">{{airline.journeyDays}}</p>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              
            
                      
                                


                                    </div>
                              


                           </div>
                           <div class="col" *ngIf="(search?.returns | keyvalue)?.length">



                            <div class="card-body p-4">
                                <div class="form-outline mb-4">
                                  <h3> Return Flights </h3>
                                </div>


                        
                                <div class="card mb-2" *ngFor="let airline of search.returns" [ngClass]="{'highlight':checkIfCardIsClicked(airline.scheduleId,'return')}"
                                (click)="setcurrentlyClickedCardIndex(airline.scheduleId,'return')">
                                  <div class="card-body">

                                  
                                    <p>   Journey : <b> {{airline.fromPlace}}  to {{airline.toPlace}}</b></p>
                              
                                    <p>    Date : <b> {{airline.startDate}} </b></p>
                            
                                    <p>    Amount : <b> {{airline.ticketCost}} </b></p>

                        
                                    <div class="d-flex justify-content-between">
                                      <div class="d-flex flex-row align-items-center">
                                        <img src="/assets/images/logo.png" alt="avatar" width="25"
                                          height="25" />
                                        <p class="small mb-0 ms-2">{{airline.name}} ({{airline.flightNumber}})</p> 

                                      </div>
                                      <div class="d-flex flex-row align-items-center">
                                        <p class="small text-muted mb-0">Journey Days</p>
                                        <i class="far fa-thumbs-up mx-2 fa-xs text-black" style="margin-top: -0.16rem;"></i>
                                        <p class="small text-muted mb-0">{{airline.journeyDays}}</p>
                                      </div>
                                    </div>
                                  </div>


                                </div>
                        

                                
                              </div>



                            
                           </div>
                        </div> 
                     </div>
		
		



				</div>
			</div>
		</div>
	</div>
</section>



<!--==========================================
=            All Category Section            =
===========================================-->



<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center clearfix" >
			<div class="col-md-8" style="z-index:34432432432424;" >
				<div class="content-holder clearfix">
					<h2>You can always login and check your Bookings. And you can cancel at any time </h2>
					<ul class="list-inline mt-30 clearfix">
						<li class="list-inline-item"><a class="btn btn-main" href="myAccounts">My Booking</a></li>
						<li class="list-inline-item"><a class="btn btn-secondary" href="myAccounts">Cancel Bookings</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>


