<div class="row p-3 my-3">

    <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;margin-bottom: 20px; ">
      <!-- Navbar content -->
      Manage Coupon
      <a class="btn btn-primary align-items-right" id="sidebarToggle"  [routerLink]="['/addcoupons']">Add Coupon</a>

    </nav>
  
      
      <table class="table bg-white" style="width:1024px ;">
          <thead class="bg-light">
            <tr>
              
              <th>CouponCode</th>
              <th>Percentage</th>
              <th>MaxCount</th>
              <th>Expiry</th>
              
            </tr>
          </thead>
          <tbody>
            
            <tr *ngFor="let coupon of coupons">
              
              <td>
                <p class="fw-normal mb-1">{{coupon.couponCode}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{coupon.percentage}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{coupon.maxCount}}</p>
                
              </td>
              <td>
                <p class="fw-normal mb-1">{{coupon.expiry}}</p>
                
              </td>
              
              

              
            </tr>
         
             
                  
                  
          </tbody>
        </table>
      
  </div>

