<section class="dashboard section bg-gray">

    <div class="content">
        <div class="container">
             <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
                            <div class="box" *ngIf="(selectedItems?.depature | keyvalue)?.length">
                                <h3 class="box-title">Departure Flight Booking </h3>
                                <div class="plan-selection">
                                    <div class="plan-data">
                                        <input id="question1" name="question" type="radio" class="with-font" value="sel" />
                                        <label for="question1">{{selectedItems.depature?.fromPlace}} to {{selectedItems.depature?.toPlace}}</label>
                                        <p class="plan-text">
                                            {{selectedItems.depature?.flightNumber}}   | Start:{{selectedItems.depature?.startDate}} | End :  {{selectedItems.depature?.endDate}}   
                                        
                                        </p>
                                        <span class="plan-price">₹{{selectedItems.depature?.ticketCost}}/ 1P</span>
                                    </div>
                                </div>
                                <form  [formGroup]="form">
                                <div class="plan-selection"  formArrayName="credentials" *ngFor="let creds of form.controls['credentials']?.value; let itemIndex = index">
                                    <ng-container [formGroupName]="itemIndex">
                                    <div class="plan-data" >
                                        <div class="row" >
                                            <div class="col-sm">
                                                <label> {{itemIndex +1}}st Passenger Details </label>
                                             </div>
                                            </div>
                                    
                                        <div class="row" >
                                            <div class="col-sm">
                                              <div class="mb-2">
                                                <span id="origin-label" for="origin-input" class="form-label"
                                                  >Name</span
                                                >
                                                <div class="input-group text-lg-left">
                                                  <span class="input-group-text"
                                                    ><i class="bi-pin-map"></i>
                                                  </span>
                                                  <input
                                                    type="text"
                                                    class="form-control"
                                                    list="origin-options"
                                                    id="origin-input"
                                                    placeholder="Location"
                                                    aria-describedby="origin-label"
        
                                                    formControlName="Name" 
                                                  />


                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-sm">
                                              <div class="mb-2">
                                                <span
                                                  id="destination-label"
                                                  for="destination-input"
                                                  class="form-label"
                                                  >Age</span
                                                >
                                                <div class="input-group">
                                                  <span class="input-group-text"
                                                    ><i class="bi-pin-map-fill"></i>
                                                  </span>
                                                  <input
                                                    type="number"
                                                    class="form-control"
                                                    list="destination-options"
                                                    id="destination-input"
                                                    placeholder="Location"
                                                    aria-describedby="destination-label"
                                                    formControlName="Age" 
        
                                                  />
                                                </div>
                                              </div>
                                            </div>
        
                                            <div class="col-sm">
                                                <div class="mb-2">
                                                    <span
                                                    id="departure-date-label"
                                                    for="departure-date-input"
                                                    class="form-label small"
                                                    >Gender</span
                                                  >
                                                  <div class="input-group">
                                                    <span class="input-group-text"
                                                    ><i class="bi-pin-map-fill"></i>
                                                  </span>
                                                    <select class="form-select" formControlName="Gender" >
                                                        <option>Male</option>
                                                        <option>Female</option>

                                                    </select>
                                                  </div>
                                                </div>
                                              </div>
        
        
                                            
                                          </div>


                                        <div class="row" >
                                            <div class="col-sm">
                                              <div class="mb-2">
                                                <span id="origin-label" for="origin-input" class="small"
                                                  >Seats</span
                                                >
                                                <div class="input-group text-lg-left">
                                                  <span class="input-group-text"
                                                    ><i class="bi-pin-map"></i>
                                                  </span>
                                                  <select class="form-select" formControlName="SeatNumber" >
                                                    <option>A12</option>
                                                    <option>A13</option>
                                                    <option>A14</option>
                                                    <option>A15</option>
                                                    <option>B12</option>
                                                    <option>B13</option>
                                                    <option>B14</option>

                                                </select>


                                                </div>
                                              </div>
                                            </div>
                                   
        
                                            <div class="col-sm">
                                                <div class="mb-2">
                                                    <span
                                                    id="departure-date-label"
                                                    for="departure-date-input"
                                                    class="form-label small"
                                                    >Meals</span
                                                  >
                                                  <div class="input-group">
                                                    <span class="input-group-text"
                                                    ><i class="bi-pin-map-fill"></i>
                                                  </span>
                                                    <select class="form-select" formControlName="MealType" >
                                                        <option [ngValue]="0">Veg</option>
                                                        <option [ngValue]="1">Nonveg</option>

                                                    </select>
                                                  </div>

                                                </div>
                                              </div>
        
                                              <div class="col-sm">
                                                <div class="mb-2">
                                        

                                                </div>
                                              </div>
                                            
                                          </div>

                                          


                                        
                                    </div>
                                    </ng-container>
                                    

                                </div>
                                <div class="row">
                                    <div class="mb-2  text-end">
                                        <button type="button"  *ngIf="!isPasengerUpdated"  class="btn btn-success btn-lg" (click)="addCreds()">Add Passenger Details</button>

                                     </div>
                                  </div>

                            </form>
                           
                            </div>



                            <div class="box" *ngIf="(selectedItems?.returns | keyvalue)?.length">
                                <h3 class="box-title">Return Flight Booking</h3>
                                <div class="plan-selection">
                                    <div class="plan-data">
                                        <input id="question1" name="question" type="radio" class="with-font" value="sel" />
                                        <label for="question1">{{selectedItems.returns?.fromPlace}} to {{selectedItems.returns?.toPlace}}</label>
                                        <p class="plan-text">
                                            {{selectedItems.returns?.flightNumber}}   | Start:{{selectedItems.returns?.startDate}} | End :  {{selectedItems.returns?.endDate}} </p>
                                        <span class="plan-price">₹{{selectedItems.returns?.ticketCost}}/ 1P</span>
                                    </div>
                                </div>

                                <form  [formGroup]="retform">
                                    <div class="plan-selection"  formArrayName="returnpass" *ngFor="let creds of retform.controls['returnpass']?.value; let i = index">
                                        <ng-container [formGroupName]="i">
                                        <div class="plan-data" >
                                            <div class="row" >
                                                <div class="col-sm">
                                                    <label> {{i +1}}st Passenger Details </label>
                                                 </div>
                                                </div>
                                        
                                            <div class="row" >
                                                <div class="col-sm">
                                                  <div class="mb-2">
                                                    <span id="origin-label" for="origin-input" class="form-label"
                                                      >Name</span
                                                    >
                                                    <div class="input-group text-lg-left">
                                                      <span class="input-group-text"
                                                        ><i class="bi-pin-map"></i>
                                                      </span>
                                                      <input
                                                        type="text"
                                                        class="form-control"
                                                        list="origin-options"
                                                        id="origin-input"
                                                        placeholder="Location"
                                                        aria-describedby="origin-label"
            
                                                        formControlName="Name" 
                                                      />
    
    
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="col-sm">
                                                  <div class="mb-2">
                                                    <span
                                                      id="destination-label"
                                                      for="destination-input"
                                                      class="form-label"
                                                      >Age</span
                                                    >
                                                    <div class="input-group">
                                                      <span class="input-group-text"
                                                        ><i class="bi-pin-map-fill"></i>
                                                      </span>
                                                      <input
                                                        type="number"
                                                        class="form-control"
                                                        list="destination-options"
                                                        id="destination-input"
                                                        placeholder="Location"
                                                        aria-describedby="destination-label"
                                                        formControlName="Age" 
                                                        autofocus
                                                      />
                                                    </div>
                                                  </div>
                                                </div>
            
                                                <div class="col-sm">
                                                    <div class="mb-2">
                                                        <span
                                                        id="departure-date-label"
                                                        for="departure-date-input"
                                                        class="form-label small"
                                                        >Gender</span
                                                      >
                                                      <div class="input-group">
                                                        <span class="input-group-text"
                                                        ><i class="bi-pin-map-fill"></i>
                                                      </span>
                                                        <select class="form-select" formControlName="Gender" >
                                                          <option>Male</option>
                                                          <option>Female</option>
                                                        </select>
                                                      </div>
                                                    </div>
                                                  </div>
            
            
                                                
                                              </div>
    
    
                                            <div class="row" >
                                                <div class="col-sm">
                                                  <div class="mb-2">
                                                    <span id="origin-label" for="origin-input" class="small"
                                                      >Seats</span
                                                    >
                                                    <div class="input-group text-lg-left">
                                                      <span class="input-group-text"
                                                        ><i class="bi-pin-map"></i>
                                                      </span>
                                                      <select class="form-select" formControlName="SeatNumber" >
                                                        <option>A12</option>
                                                        <option>A13</option>
                                                        <option>A14</option>
                                                        <option>A15</option>
                                                        <option>B12</option>
                                                        <option>B13</option>
                                                        <option>B14</option>
    
                                                    </select>
    
    
                                                    </div>
                                                  </div>
                                                </div>
                                       
            
                                                <div class="col-sm">
                                                    <div class="mb-2">
                                                        <span
                                                        id="departure-date-label"
                                                        for="departure-date-input"
                                                        class="form-label small"
                                                        >Meals</span
                                                      >
                                                      <div class="input-group">
                                                        <span class="input-group-text"
                                                        ><i class="bi-pin-map-fill"></i>
                                                      </span>
                                                        <select class="form-select" formControlName="MealType" >
                                                          <option [ngValue]="0">Veg</option>
                                                          <option [ngValue]="1">Nonveg</option>    
    
                                                        </select>
                                                      </div>
    
                                                    </div>
                                                  </div>
            
                                                  <div class="col-sm">
                                                    <div class="mb-2">
                                            
    
                                                    </div>
                                                  </div>
                                                
                                              </div>
    
                                              
    
    
                                            
                                        </div>
                                        </ng-container>
                                        
    
                                    </div>
                                    <div class="row">
                                        <div class="mb-2  text-end">
                                            <button  *ngIf="!isPasengerUpdated"  type="button" class="btn btn-success btn-lg" (click)="returnPassenger()">Add Passenger Details</button>
    
                                         </div>
                                      </div>
    
                                </form>
                 
                            </div>


           
                        </div>

                        
                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                          
                            <div class="widget">
                                <h4 class="widget-title">Order Summary</h4>
                        
                                <div class="summary-block">
                                    <div class="summary-content">
                                        <div class="summary-head"><h5 class="summary-title"> Departure Cost</h5></div>
                                        <div class="summary-price">
                                            <p class="summary-text">{{priceAmount?.depeprice}}</p>
                                            <span class="summary-small-text pull-right">{{priceAmount?.deptotal}} Persons</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-block">
                                    <div class="summary-content">
                                       <div class="summary-head"> <h5 class="summary-title">  Return Ticket Cost </h5></div>
                                        <div class="summary-price">
                                            <p class="summary-text">{{priceAmount?.retprice}}</p>
                                            <span class="summary-small-text pull-right">{{priceAmount?.rettotal}} Persons</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="summary-block">
                                    <div class="summary-content">
                                       <div class="summary-head"> <h5 class="summary-title">Total</h5></div>
                                        <div class="summary-price">
                                            <p class="summary-text">{{priceAmount?.total}} </p>
                                            <span class="summary-small-text pull-right">  Persons</span>
                                        </div> 
                                    </div>

                                    <button type="button"  *ngIf="!isPasengerUpdated" class="btn btn-primary btn-lg" (click)="completeBookins()"  >Update And Continue</button>

                                </div>
                            </div>




                            <div class="widget" *ngIf="isPasengerUpdated">
                              <h4 class="widget-title">Order Summary</h4>
                              <div class="summary-block">
                                <div class="summary-content">
                                  <div class="input-group">
                                    <input type="search" class="form-control rounded" placeholder="Discount Coupon" aria-label="Search" aria-describedby="search-addon" [(ngModel)]="couponCode"/>
                                    <button type="button" class="btn btn-primary" (click)="applyDisocunt()">Apply</button>
                                  </div>
                                </div>
                            </div>
                              <div class="summary-block">
                                  <div class="summary-content">
                                      <div class="summary-head"><h5 class="summary-title"> Total Amout</h5></div>
                                      <div class="summary-price">
                                          <p class="summary-text">{{finalamount?.total}}</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="summary-block">
                                  <div class="summary-content">
                                     <div class="summary-head"> <h5 class="summary-title">  Discount in % </h5></div>
                                      <div class="summary-price">
                                          <p class="summary-text">{{finalamount?.discount}}</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="summary-block">
                                  <div class="summary-content">
                                     <div class="summary-head"> <h5 class="summary-title">Final Amount</h5></div>
                                      <div class="summary-price">
                                          <p class="summary-text">{{finalamount?.final}} </p>
                                      </div> 
                                  </div>

                                  <button type="button"  class="btn btn-danger btn-lg" (click)="completePayments()">Confirm Booking</button>

                              </div>
                          </div>




                        </div>

                    </div>
        

</div>
<!-- Row End -->
</div>
<!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
<!-- Container Start -->
<div class="container">
<div class="col-lg-12 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
<!-- About -->
<div class="block about">
  <!-- footer logo -->
  <!-- description -->
  <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
    laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
</div>

</div>
<!-- Container End -->
</footer>