
<div class="row p-3 my-3 ">

    <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;margin-bottom: 20px; ">
      <!-- Navbar content -->
      Add Schedule
      <a class="btn btn-primary align-items-right" id="sidebarToggle"  [routerLink]="['/schedule/20']">Back</a>
  
    </nav>



    
<div class="card">
  <div class="card-body">

    <form class="form-schedule" [formGroup]="ScheduleForm" (ngSubmit)="createSchedule()">
    <label for="basic-url"><b>Airline Details</b></label>
      <hr/> <br/>
    <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline">
            <input type="text" id="form8Example1" class="form-control" formControlName="FlightNumber">
            <label class="form-label" for="form8Example1"  >Flight Number</label>
          </div>
        </div>
        <div class="col">
          <!-- Email input -->
          <div class="form-outline">
            <input type="text" id="form8Example2" class="form-control" formControlName="TotalSeats">
            <label class="form-label" for="form8Example2">TotalSeats</label>
          </div>
        </div>
      </div>
      <br/>

      

<div class="row">

    <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Cost</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend2">₹</span>
          </div>
          <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Journey cost" aria-describedby="inputGroupPrepend2" formControlName="TicketCost">
        </div>
      </div>
</div>
<br/>


  
      
      <div class="row">

        <div class="col">

          <!-- Name input -->
          <div class="form-outline">
            <input type="text" id="form8Example3" class="form-control" formControlName="TotalRows" >
            <label class="form-label" for="form8Example3">Total Row</label>
          </div>
        </div>

        <div class="col">

            <!-- Name input -->
            <div class="form-outline">
              <input type="text" id="form8Example3" class="form-control" formControlName="BussinesSeats" >
              <label class="form-label" for="form8Example3">Total Business Seats</label>
            </div>
          </div>
        <div class="col">
          <!-- Name input -->
          <div class="form-outline">
            <select class="form-control" formControlName="MealsType">
                <option value="0">veg</option>
                <option value="1">Non-veg</option>
                <option value="2">Both</option>


              </select>
            <label class="form-label" for="form8Example4">Meal Type</label>
          </div>
        </div>
        <div class="col">
          <!-- Email input -->
          <div class="form-outline">

            <select class="form-control" formControlName="InstrumentsUsed">
                <option value="A320NEO">A320 NEO</option>
                <option value="A320">A320</option>
                <option value="A319">A319</option>    
                <option value="A318">A318</option>   
                <option value="Boeing 737-800">Boeing 737-800</option> 
                <option value="Boeing 737-600">Boeing 737-500</option>                         
                <option value="Boeing 737-500">Boeing 737-500</option>                         
                <option value="Boeing 737-400">Boeing 737-400</option>                         
                <option value="Boeing 737-300">Boeing 737-300</option>                         
                  

                      </select>            
              <label class="form-label" for="form8Example5">Instrument Used</label>
          </div>
        </div>
      </div>

      <br/>

      <br/>


      <label for="basic-url"> <b>Journey Details</b></label>

      <hr />
      <br/>

      <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline">
            <input type="text" id="form8Example1" class="form-control" formControlName="FromPlace"/>
            <label class="form-label" for="form8Example1"  >Departure Place</label>
          </div>
        </div>
        <div class="col">
          <!-- Email input -->
          <div class="form-outline">
            <input type="text" id="form8Example2" class="form-control" formControlName="ToPlace"/>
            <label class="form-label" for="form8Example2">Arival Place</label>
          </div>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col">
          <!-- Name input -->
          <div class="form-outline">
            <input type="datetime-local" id="form8Example1" class="form-control" formControlName="StartDate"/>
            <label class="form-label" for="form8Example1"  >Departure Date</label>
          </div>
        </div>
        <div class="col">
          <!-- Email input -->
          <div class="form-outline">
            <input type="datetime-local" id="form8Example2" class="form-control" formControlName="EndDate"/>
            <label class="form-label" for="form8Example2">Arival Date</label>
          </div>
        </div>

        <div class="col">
            <!-- Name input -->
            <div class="form-outline">
              <select class="form-control" formControlName="ScheduledDays">
                  <option value="Daily">Daily</option>
                  <option value="Weakly">Weakly</option>
                  <option value="Weakly">Weakly</option>
                  <option value="Mondays">Mondays</option>
                  <option value="Tuesdays">Tuesdays</option>
                  <option value="Wensdays">Wensdays</option>
                  <option value="Thursdays">Thursdays</option>
                  <option value="Fridays">Fridays</option>
                  <option value="Saturdays">Saturdays</option>
                  <option value="Sundays">Sundays</option>

  
                </select>
              <label class="form-label" for="form8Example4">Schedules</label>
            </div>
          </div>
      </div>
      <br/>

      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    
    

    </div>
 
    

</div>
</div>