<div class="d-flex" id="wrapper">

<app-admin-header></app-admin-header>

  <!-- Page content wrapper-->
  <div  class="flex-fill">
    <!-- Top navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      
        </div>
    </nav>
    <div class="container-fluid" >

<router-outlet></router-outlet>
</div>
<app-admin-footer></app-admin-footer>
</div>
</div>