    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light">Flight Booking</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/dashboard']">Airlines</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/schedules']">Schedules</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" [routerLink]="['/coupons']">Coupons</a>
      
        </div>
    </div>
  