<section class="dashboard section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-lg-2">
				<div class="sidebar">
					<!-- User Widget -->
					<!--<div class="widget user-dashboard-profile">
						
						<h5 class="text-center">Samanta Doe</h5>
						<p>Joined February 06, 2017</p>
						<a href="user-profile.html" class="btn btn-main-sm">Edit Profile</a>
					</div>
                -->
					<!-- Dashboard Links -->
					<!--<div class="widget user-dashboard-menu">
						<ul>
							<li><a href="dashboard-my-ads.html"><i class="fa fa-user"></i> My Ads</a></li>
							<li class="active">
								<a href="dashboard-favourite-ads.html"><i class="fa fa-bookmark-o"></i> Favourite Ads <span>5</span></a>
							</li>
							<li>
								<a href="dashboard-archived-ads.html"><i class="fa fa-file-archive-o"></i>Archeved Ads <span>12</span></a>
							</li>
							<li>
								<a href="dashboard-pending-ads.html"><i class="fa fa-bolt"></i> Pending Approval<span>23</span></a>
							</li>
                        
							<li>
								<button (click)="logout()"> Logout</button>
							</li>
							<li>
								<a href="#!" data-toggle="modal" data-target="#deleteaccount"><i class="fa fa-power-off"></i>Delete Account</a>
							</li>
                            
						</ul>
					</div>
-->
					<!-- delete-account modal -->
					<!-- delete account popup modal start-->
<!-- Modal -->
<div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        
        <h6 class="py-2">Are you sure you want to delete your account?</h6>
        <p>Do you really want to delete these records? This process cannot be undone.</p>
        <textarea class="form-control" name="message" id="" cols="40" rows="4" class="w-100 rounded"></textarea>
      </div>
      <div class="modal-footer border-top-0 mb-3 mx-5 justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- delete account popup modal end-->
					<!-- delete-account modal -->

				</div>
			</div>
			<div class="col-lg-12">
				<nav class="navbar navbar-light bg-light justify-content-between p-3">
					<a class="navbar-brand">My Bookings</a>
					<form class="form-inline">
					  <div class="input-group">
						<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" #id />
						<button type="button" class="btn btn-outline-primary" (click)="search(id.value)" >search</button>
					  </div>
					</form>

					
				  </nav>
				<!-- Recently Favorited -->
				<div class="widget dashboard-container my-adslist">
			

					<table class="table table-responsive product-dashboard-table">
						<thead>
							<tr>
								<th>Journey</th>
								<th>Booking</th>	
								<th>PNR </th>								
								<th>Status </th>								

								<th class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let booking of booking">

							
								<td class="booking-details">
									
									<span class="from-place">{{booking.fromPlace}} to  {{booking.toplace}} </span>
									<br/>
									<p class="fw-normal mb-1">{{booking.journeyDate}}</p>
                                    

								</td>
								<td class="booking-details">
									<span class="totalseats">₹ {{booking.amount}} ({{booking.totalSeats}} seats) </span> <br/>
									<p class="fw-normal mb-1">Seats: {{booking.selectedSeats}}</p>

								</td>
								<td>
									<span class="from-place">{{booking.pnr}}</span>
                                    
                                  </td>
									

								<td class="booking-details">
							

									<span class="totalseats"> <b>  {{(booking.bookingStatus==2)? 'Canceled' : 'Booked'}} </b></span>

								</td>
								
								<td class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											
											<li class="list-inline-item">
												<!--<a data-toggle="tooltip" data-placement="top" title="Cancel" class="cancel">-->
													<button (click)="cancelfn(booking.pnr)" class="btn btn-danger btn-sm">Cancel</button>  &nbsp;&nbsp;
 
													<input type="button" class="btn btn-warning btn-sm" value="Download" onclick="window.print()"/>

												<!--</a>-->
											</li>
										</ul>
									</div>
								</td>
							</tr>
							
						</tbody>
					</table>

				</div>

			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<footer class="footer section section-sm">
  <!-- Container Start -->
  <div class="container">
      <div class="col-lg-12 col-md-7 offset-md-1 offset-lg-0 mb-4 mb-lg-0">
        <!-- About -->
        <div class="block about">
          <!-- footer logo -->
          <!-- description -->
          <p class="alt-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>

  </div>
  <!-- Container End -->
</footer>