.footer-bottom {
    position: relative;
    background: #363839;
    padding: 25px 0;
  }
  @media (max-width: 480px) {
    .footer-bottom {
      text-align: center;
    }
  }
  .footer-bottom .copyright p {
    color: #c7c7c7;
    margin-bottom: 0;
  }
  .footer-bottom .social-media-icons {
    margin-right: -20px;
  }
  @media (max-width: 992px) {
    .footer-bottom .social-media-icons {
      margin-right: 0;
    }
  }
  .footer-bottom .social-media-icons li {
    display: inline-block;
  }
  .footer-bottom .social-media-icons li a {
    color: #848484;
    padding: 0 20px;
  }
  .footer-bottom .social-media-icons li a:hover {
    color: #fff !important;
    text-decoration: none;
  }
  