<div class="row p-3 my-3">

  <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;margin-bottom: 20px; ">
    <!-- Navbar content -->
    Manage Airline

    <a class="btn btn-primary align-items-right"  [routerLink]="['/airline']">Add Airline</a>

  </nav>

    
    <table class="table bg-white">
        <thead class="bg-light">
          <tr>
            <th>AirlineId</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Logo</th>
            <th>Active</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody>


          
          <tr *ngFor="let airline of Airlines">
            <td>
              <div class="d-flex align-items-center">
                
                <div class="ms-3">
                  <p class="fw-normal mb-1">{{airline.airlineId}}</p>
                  
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{airline.name}}</p>
              </td>
              <td>
              <p class="fw-normal mb-1">{{airline.phone}}</p>

            </td>
         
            <td>
              <p class="fw-normal mb-1">{{airline.adress}}</p>
              
            </td>
            <td>
              <p class="fw-normal mb-1">{{airline.logo}}</p>
              
            </td>
            <td>
              <p class="fw-normal mb-1">{{airline.active}}</p>
              
            </td>

            <td>

              <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              data-mdb-ripple-color="dark"
              (click)="deleteAirline(airline.airlineId)"
              >
                Delete
              </button>

              <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              data-mdb-ripple-color="dark"
              (click)="changeAirline(airline.airlineId,airline.active)"
              >
              {{ (airline.active==1) ? 'In Active' : 'Active'}}
                
              </button>


              <button
              type="button"
              class="btn btn-link btn-rounded btn-sm fw-bold"
              data-mdb-ripple-color="dark" 
              [routerLink]="['/schedule/add/'+airline.airlineId]"
              >
                Schedules
              </button>

            </td>
            
          </tr>
        </tbody>
      </table>
    
</div>