
<div class="row p-3 my-3">

    <nav class="navbar navbar-light p-3" style="background-color: #e3f2fd;margin-bottom: 20px; ">
      <!-- Navbar content -->
      Add Coupon
      <a class="btn btn-primary align-items-right" id="sidebarToggle"  [routerLink]="['/coupons']">Back</a>
  
    </nav>
    <div class="card">
      <div class="card-body">
  <form class="form-coupon" [formGroup]="AddCouponForm" (ngSubmit)="addCoupon()">
      <div class="col-md-6 my-3">
        <label for="inputName4" class="form-label"  >CouponCode</label>
        <input type="text" class="form-control" id="inputName4" formControlName="CouponCode">
      </div>
      <div class="col-md-6 my-3">
        <label for="inputPhone4" class="form-label"  >Percentage</label>
        <input type="text" class="form-control" id="inputPhone4" formControlName="Percentage">
      </div>
      <div class="col-12 my-3">
        <label for="inputAddress" class="form-label" >MaxCount</label>
        <input type="text" class="form-control" id="inputAddress" formControlName="MaxCount"  >
      </div>
      
      <div class="col-md-6 my-3">
        <label for="inputlogo" class="form-label"  >Expiry</label>
        <input type="date" class="form-control" id="inputlogo" formControlName="Expiry">
      </div>
      
      
      
      <div class="my-3">
        <button type="submit" class="btn btn-primary">Add Coupon</button>
      </div>
    </form>
  
    </div>
    </div>
    </div>